
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GIAOVIEN/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách lớp học</h2>
<div class="row">
    <div class="col-md-4">
        <label>Khóa học:</label><br />
        <label>Độ tuổi:</label><br />
        <b><input type="submit" name="sbct" value="CHI TIẾT" class="sm"/></b>
        
    </div>
    <div class="col-md-4">
        <label>Khóa học:</label><br />
        <label>Độ tuổi:</label>
    </div>+9 
    <div class="col-md-4">
        <label>Khóa học:</label><br />
        <label>Độ tuổi:</label>
    </div>
    <div class="col-md-4">
        <label>Khóa học:</label><br />
        <label>Độ tuổi:</label>
        <label></label>
    </div><br />
    <div class="col-md-4">
        <label>Khóa học:</label><br />
        <label>Độ tuổi:</label>
    </div>

</div>