@model doan_htttdn.Areas.ViewModel.CheckBoxList
@{
    ViewBag.Title = "ChooseCheck";
    Layout = "~/Areas/USER/Views/Shared/_Layout - 1.cshtml";
}

<h2>ChooseCheck</h2>
@using (Html.BeginForm("ChooseCheck", "tintuc", FormMethod.Post))
{
<div >
    <div class="form-group">
        <label for="exampleInputEmail"></label>
        @Html.CheckBoxListFor(x => x.choosedcheck, x => x.AvariableCheck, x => x.ID_Article, x => x.Title, x => x.SelectedCheck)
    </div>
</div>
    <div class="box_1">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
}