@model doan_htttdn.Areas.ViewModel.DropDownList
@{
    ViewBag.Title = "Examdropdown";
    Layout = "~/Areas/USER/Views/Shared/_Layout - 1.cshtml";
}

<h2>Examdropdown</h2>

@Html.DropDownList("tintuc",Model.selectlistar,"---- Chon Article")
