@model List<doan_htttdn.Areas.USER.Models.Article1>
@{
    Layout = null;
}

<!DOCTYPE html>

@{
    int i = 0;
<div class="blog-top">
    <div class="col-md-6 grid-top grid_3 canbottom ">
        @foreach (var item in Model)
        { if (i==0)
            {
        <a href="#" class="b-link-stripe b-animate-go  thickbox">
            <img class="img-responsive" src="~/Assets/Image/@item.Image" alt="">
            <div class="b-wrapper">
                <h3 class="b-animate b-from-left    b-delay03 ">
                    <span>Đọc Tiếp</span>
                </h3>
            </div>
        </a>
        <p><a href="#"><h2>@item.Title</h2> </a></p>
        <ul class="post-tintuc1">
            <li>
                @item.Summary
            </li>
        </ul>
            }
            else
            {
                break;
            }
            i++;
        }
    </div>
</div>
        }
       




