
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/USER/Views/Shared/_Layout.cshtml";
}

<div> 
    <article class="blogpost">
        <div class="post-title"><h3>Giới thiệu 4MEN</h3></div>
        <div class="space30"></div>
        <div class="article-content">
            <p>
                <span>
                    <span style="font-size:14px">Thương hiệu Thời trang 4MEN được thành lập từ tháng 3 năm 2010, là một trong những thương hiệu thời trang nam uy tín hàng đầu Việt Nam. Với sự quản lý chặt chẽ, chuyên nghiệp của đội ngũ&nbsp;quản lý; Nỗ lực sáng tạo không ngừng của bộ phận thiết kế, Sự tận tâm của nhân viên bán hàng… là những yếu tố làm nên thương hiệu thời trang 4MEN lớn mạnh như hiện nay.</span>
                </span>
            </p>
        </div>
        <div style="margin-top:3%"><h3 class="post-title">Giới thiệu 4MEN</h3></div>
        <div class="space30" style="margin-bottom: 60px!important"></div>
        <div class="article-content" style="line-height: 20px; font-size: 15px;">
            <p style="text-align:justify">
                <span style="color:#000000">
                    <span style="font-size:14px">Thương hiệu Thời trang 4MEN được thành lập từ tháng 3 năm 2010, là một trong những thương hiệu thời trang nam uy tín hàng đầu Việt Nam. Với sự quản lý chặt chẽ, chuyên nghiệp của đội ngũ&nbsp;quản lý; Nỗ lực sáng tạo không ngừng của bộ phận thiết kế, Sự tận tâm của nhân viên bán hàng… là những yếu tố làm nên thương hiệu thời trang 4MEN lớn mạnh như hiện nay.</span>
                </span>
        </div>
    </article> 
</div>

