
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Assets/Admin/css/Login_admin.css" rel="stylesheet" />
</head>
<body>
    <div style=" width:400px; height:400px ;
        margin-top: 100px;
    margin-left: 500px; border:ridge" >
        <div style="padding-top:30px">
            <img src="~/Assets/Image/logo.png" style=" padding-left:90px ;"  />
        </div>
        <div  >
            <h2 style=" padding-left:80px; align-self:center">Welcome&nbsp;back&nbsp;Admin! </h2>
        </div>
        <div>
            <form style="padding-top:30px">
                <div >
                    <label style="padding-left:50px; padding-right:23px" class="lb_email" for="account-form_email">Email</label>
                    <input style="padding-right:80px; height:30px"  type="email"  autocapitalize="off" autocomplete="email" autofocus="" data-test-id="www-j_username-input" id="account-form_email" name="j_username" placeholder="Email" required="" value="">
                </div>
                <div style=" padding-top:30px">
                    <label style="padding-left:50px" class="" for="account-form_password">Password</label>
                    <input  style="padding-right:80px; height:30px" type="password"  autocomplete="password" data-test-id="www-j_password-input" id="account-form_password" name="j_password" placeholder="Password" required="" value="">
                </div>
                    <div style="padding-left:150px ; padding-top:30px;" >
                        <input style="width:100px; height:30px;background-color:#00ffff ; font-family:Tahoma" type="submit" data-test-id="www-leadgen-submit" value="Log In">
                    </div>
            </form>
        </div>
    </div>


        
</body>
</html>
