
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GIAOVIEN/Views/Shared/_Layout.cshtml";
}

<h4 align="left" style="color:blue; padding-top:30px"><b>Giáo viên/Danh sách lớp học/Điểm danh</b></h4><br />
<div class="row" style=" width:100%; height:500px; border:double">
    <div class="search_khoahoc" style="padding-top:20px; padding-left:70px">
        <h4 style="float:left; font-family:'Times New Roman'; margin-top:8px">Chọn mã lớp học</h4>
        <input type="text" style="width:200px; height:30px ; border:groove; border-color:black ; margin-left:20px" />
        <button style="margin-left:20px">Tìm kiếm</button>
        <button style="margin-left:20px">Cập nhập</button>
    </div>
    <div style="padding-top:20px">
        <table align="center" border="1" style="width:95%">
            <tr class="table_th">
                <th class="th">TÊN HỌC VIÊN</th>
                <th class="th">Buổi 1</th>
                <th class="th">Buổi 2</th>
                <th class="th">Buổi 3</th>
                <th class="th">Buổi 4</th>
                <th class="th">Buổi 5</th>
                <th class="th">Buổi 6</th>
                <th class="th">Buổi 7</th>
                <th class="th">Buổi 8</th>
                <th class="th">Buổi 9</th>
                <th class="th">Buổi 10</th>
                <th class="th">Buổi 11</th>
                <th class="th">Buổi 12</th>
                <th class="th">Hoạt động</th>
            </tr>
            <tr class="table_th">
                <td class="td">Ngày</td>
                <td contenteditable='true' class="td"></td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">0</td>
                <td contenteditable='true' class="td">0</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">0</td>
                <td contenteditable='true' class="td">0</td>
                <td><button style="margin-left:20px">Cập nhập</button></td>
            </tr>
            <tr class="table_th">
                <td class="td">Phạm Thành Nhân</td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td contenteditable='true' class="td"><input id="Checkbox1" type="checkbox" /></td>
                <td><button style="margin-left:20px">Cập nhập</button></td>
            </tr>
            <tr class="table_th">
                <td contenteditable='true' class="td">Trần Anh Thuyên</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">0</td>
                <td contenteditable='true' class="td">0</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">1</td>
                <td contenteditable='true' class="td">0</td>
                <td contenteditable='true' class="td">0</td>
                <td contenteditable='true' class="td">0</td>
                <td><button style="margin-left:20px">Cập nhập</button></td>
            </tr>
        </table>
    </div>

</div>

