
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/USER/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        @Html.Action("TrangChu","TinTuc")
        
        <!----->
        
        <div class="content-top-bottom">
            <h2>ROBOT</h2>
            @Html.Action("ListNews_SP", "Home")
            @*@{ Html.RenderAction("SanPham", "Home");}*@
            <div class="clearfix"> </div>
        </div>


        <div class="content-top">
            <h1>KHÓA HỌC</h1>
            <div class="grid-in">
                @Html.Action("ListNews_Course", "Home")
                @*@{ Html.RenderAction("Khoahoc", "Home");}*@
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!---->
    
</div>
