
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GIAOVIEN/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/GIAOVIEN/css/gv.css" rel="stylesheet" type="text/css" media="all" />
<h2 align="center" style="color:red" >ĐỔI MẬT KHẨU</h2><br />
<div class="row">
    
        <table align="center">
            <tr>
                <td style="width:25%;"><b>Mã giáo viên:</b></td>
                <td><input type="password" id="idgv" name="" size="50" style="margin-bottom:10px;" readonly/></td>
            </tr>
            <tr>
                <td style="width:25%;"><b>Mật khẩu cũ:</b></td>
                <td><input type="password" id="namegv" name="" size="50" style="margin-bottom:10px;" /></td>
            </tr>
            <tr>
                <td style="width:25%;"><b>Mật khẩu mới:</b></td>
                <td><input type="password" id="emailegv" name="" size="50" style="margin-bottom:10px;" /></td>
            </tr>
            <tr>
                <td style="width:25%;"><b>Nhập lại mật khẩu mới:</b></td>
                <td><input type="password" id="phonegv" name="" size="50" style="margin-bottom:10px;" /></td>
            </tr>
            


        </table>
        <b> <input type="button" name="btchange" value="LƯU" style="margin-left:45%;" /></b>
        <b><input type="button" name="btsave" value="HỦY" /></b>
        <div>

        </div>
    </div>
    


